{
  "semi": false,
  "trailingComma": "all",
  "bracketSpacing": false,
  "printWidth": 100,
  "tabWidth": 2,
  "arrowParens": "always",
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
